{
  "presets": [
    "@babel/preset-flow",
  ],
  "retainLines": true,
  "env": {
    "production": {
      "retainLines": false,
      "presets": [
        ["minify", {
          "keepFnName": true
        }]
      ]
    }
  }
}