{
  // "parser": "babel-eslint", 
  "extends": "airbnb-base",
  "rules": {
    "operator-linebreak": "off",
    "object-curly-newline": "warn",
    "implicit-arrow-linebreak": "off",
    "max-len": ["error", 120]
  }
}