{
  // "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "extends": "airbnb-typescript/base",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "operator-linebreak": "off",
    "object-curly-newline": "warn",
    "implicit-arrow-linebreak": "off",
    "max-len": ["warn", 120],
    "import/prefer-default-export": "off",
    "import/extensions": ["off", "ignorePackages", {
      "js": "never",
      "d.ts": "never",
      "ts": "never",
      "tsx": "never"
    }]
  }
}